.airbnb {
    position: relative;
    width: 100%;
    height: 662px;
    background-image: url(../imges/元旦背景.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

.airbnb-dingbu {
    width: 1900px;
    height: 237px;
}

.airbnb-logo {
    float: left;
    width: 42px;
    margin-top: 21px;
    display: inline-flex;
    margin-left: 25px;

}


.airbnb-logo img {
    float: left;
    height: 60px;
}


.airbnb-logo-shoushuokuang {
    width: 1159px;
    height: 73px;
    float: left;
    margin-top: 14px;
}

.airbnb-logo-shoushuokuang button {
    float: left;
    width: 61px;
    height: 48px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px 0 0 6px;
    margin-left: 18px;
}

.airbnb-logo-shoushuokuang input {
    float: left;
    height: 48px;
    width: 397px;
    border: none;
    border-radius: 0 6px 6px 0px;
}

.airbnb-title-search-right {
    float: right;
    width: 640px;
}

.airbnb-title-search-right li {
    float: left;
}

.airbnb-title-search-right a {
    font-size: 9px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 2px;
}


.title-jtzw {
    float: left;
    margin-right: 19px;
    height: 80px;
    width: 110px;
    line-height: 80px;
}

.title-jtzw:hover {
    border-bottom: 2px solid #ffffff;
}

.title-rmb {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 56px;
}

.title-rmb:hover {
    border-bottom: 2px solid #ffffff;
}

.title-sjd {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 48px;
}

.title-sjd:hover {
    border-bottom: 2px solid #ffffff;
}


.title-czfy {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 62px;
}

.title-czfy:hover {
    border-bottom: 2px solid #ffffff;
}


.title-kzty {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 62px;
}

.title-kzty:hover {
    border-bottom: 2px solid #ffffff;
}


.title-gs {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 33px;
}

.title-gs:hover {
    border-bottom: 2px solid #ffffff;
}



.title-bz {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 33px;
}

.title-bz:hover {
    border-bottom: 2px solid #ffffff;
}


.title-zc {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 33px;
}

.title-zc:hover {
    border-bottom: 2px solid #ffffff;
}


.title-dl {
    float: left;
    margin-right: 19px;
    height: 80px;
    line-height: 80px;
    width: 32px;
}




.title-dl:hover {
    border-bottom: 2px solid #ffffff;
}

.aribnb-tianfu {
    height: 280px;
}

.aribnb-tianfu-left {
    float: left;
    display: inline-block;
    line-height: 300px;
}

.aribnb-tianfu-left a {
    color: #ffffff;
    margin-left: 30px;
    font-weight: 700;
}

.aribnb-tianfu-right {
    float: right;
    display: inline-block;
    line-height: 300px;

}

.aribnb-tianfu-right a {
    color: #ffffff;
    margin-right: 30px;
    font-weight: 700;
}

.airbnb-tianfuzhiguo {
    display: inline-block;
    margin-left: 395px;
    height: 140px;
    width: 259px;
    margin-top: 78px;
}

.airbnb-tianfuzhiguo a {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}


.airbnb-beijingbanxin {
    width: 1080px;
}

.airbnb-search-youzhifangyuan {
    height: 48px;
    width: 184px;
    background-color: #ff5a5f;
    border-radius: 6px;
    margin-top: 41px;
    text-align: center;
}

.airbnb-search-youzhifangyuan:hover {
    /* transition: all 1s; */
    border: 3px solid #ffffff;

}


.airbnb-search-youzhifangyuan-cakan a {
    font-size: 16px;
    color: #ffffff;
    line-height: 48px;
}

.airbnb-lunbotu {
    position: absolute;
    top: 526px;
    left: 438px;
    height: 14px;
    width: 331px;
}

.airbnb-lunbotu li {

    width: 27px;
    height: 4px;
    color: #8b6b55;
}

.airbnb-lunbotu-l {
    float: left;
    width: 22px;
    height: 2px;
    /* color: black; */
    background-color: #95756a;
    margin-left: 4px;
    border-radius: 6px;
}

.airbnb-lunbotu-l:hover {
    background-color: #ffffff;
}

.housing-bigbox {
    display: block;
    width: 1030px;
    height: 72px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-left: 440px;
    margin-top: 107px;

}

.housing-menu {
    position: relative;
    float: left;
    height: 70px;
    width: 100px;
    border: none;
    border-right: 1px solid #ebebeb;
    font-size: 18px;

    line-height: 72px;
}

.housing-menu a {
    margin-left: 22px;
    font-size: 18px;
    font-weight: 600;
}

.housing-input {
    position: relative;
    float: left;
    width: 563px;
    height: 72px;
    border: none;
    border-right: 1px solid #ebebeb;
}

.housing-input input {
    float: left;
    width: 475px;
    height: 72px;
    font-size: 18px;
    font-weight: 900;
    color: #646464;
    border: none;
    margin-left: 48px;

}




.housing-Tostayin {
    float: left;
    width: 268px;
    border: none;
    border-right: 1px solid #ebebeb;
    height: 72px;
    position: relative;

    line-height: 72px;
    font-size: 16px;
    font-weight: 900;
}

.housing-Tostayin a {
    color: #7d7d7d;
    margin-left: 44px;
}


.housing-search {
    float: left;
    width: 96px;
    line-height: 72px;
}

.housing-Outside {
    width: 85px;
}

.housing-Outside button {
    border: none;
    color: #ffffff;
    background-color: #ff5a5f;
    width: 68px;
    height: 48px;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 16px;
}

.preferential {
    height: 130px;
}

.preferential-housing {
    height: 29px;
}

.preferential-housing h1 {
    font-size: 24px;
    margin-top: 46px;
}

.preferential-Sevenfold {
    margin-top: 4px;
}

.preferential-Sevenfold span {
    font-size: 16px;
    color: #484848;
}

.Shanghai-nanjing {
    height: 90px;

}

.Shanghai-nanjing-lianjie-bigbox {
    width: 1048px;
    height: 80px;
}

.Shanghai-nanjing-lianjie {
    float: left;
    width: 120px;
    height: 48px;
    border: solid 0.5px #D8D8D8;
    border-radius: 3px;
    background: #ffffff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    color: #484848;
    font-weight: bold;
    line-height: 48px;
    transition: box-shadow 0.5s;
    text-align: center;
    margin-right: 23px;
}

.Shanghai-nanjing-lianjie:hover {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
}

.Shanghai-nanjing-lianjie-aa {
    float: left;
    width: 120px;
    height: 48px;
    border: solid 0.5px #D8D8D8;
    border-radius: 3px;
    background: #00848a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: -2px 11px 14px #e7f4f4;
    font-size: 17px;
    font-weight: bold;
    line-height: 48px;
    transition: box-shadow 0.5s;
    text-align: center;
    margin-right: 16px;
}

.Shanghai-nanjing-lianjie-aa a {
    color: #ffffff;
}

.shanghai-nanjing-button {
    position: relative;
    width: 30px;
    height: 30px;
}

.shanghai-nanjing-button button {
    width: 28px;
    position: absolute;
    top: -71px;
    left: 1000px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.shanghai-nanjing-button svg {
    position: absolute;
    top: 7px;
    left: 7px;
}

.Superhost {
    height: 760px;

}


.Quality-listings {
    height: 349px;
    width: 333px;
    float: left;
    margin-right: 14px;
}


.Quality-listings-image img {
    width: 333.33px;
    height: 222.22px;

}

.Quality-listings-ztgy {
    height: 17px;
    margin-top: 8px;
}

.Quality-listings-ztgy a {
    font-size: 15px;
    color: #734f21;
    font-weight: 600;
}

.Quality-listings-xhljl {
    margin-top: 4px;
}

.Quality-listings-xhljl a {
    font-size: 16px;
    font-weight: 600;
}

.Quality-listings-zan img {
    height: 12px;
}


.Quality-listings-je {
    margin-top: 8px;
}


.Quality-listings-je i {
    font-size: 14px;
    color: #484848;
}

.Quality-listings-je s {
    font-size: 14px;
}

.Quality-listings-je span {
    margin-top: 12px;
    font-size: 18px;
}

.Quality-listings-zan {

    position: absolute;
    width: 50px;
    height: 9px;
    display: inline-block;
    float: left;
    background-size: auto 9px;
    background-image: url(../imges/赞赞赞.png);
    background-repeat: none-repeat;
    top: 0;
    left: 0;
}

.Quality-listings-chaozhan {
    position: absolute;
    top: -2px;
    left: 52px;
}

.Quality-listings-Zan {
    height: 15px;
    margin-top: 10px;
    position: relative;

}


.More-advantages {
    height: 80px;
}



.More-advantages a:hover {
    text-decoration: underline;
}

.More-advantages span {
    font-size: 18px;
    color: #008489;
    font-weight: 600;
}


.destination {
    height: 42px;

}

.destination-mdd span {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
}

.travel-plan {
    height: 290px;
}

.Travel-protection {
    height: 37px;

}

.Travel-protection span {
    font-size: 29px;
    font-weight: 600;
}

.travel-plan-bigbox {
    height: 74px;
    width: 1060px;
    margin-top: 30px;

}

.travel-plan-three,
.travel-plan-two,
.travel-plan-one {
    width: 353px;
    float: left;
}


.travel-plan-three img,
.travel-plan-two img,
.travel-plan-one img {
    float: left;
}

.travel-plan-three span,
.travel-plan-two span,
.travel-plan-one span {
    width: 236px;
    float: left;
    height: 74px;
    line-height: 25px;
    margin-left: 9px;
}


.travel-plan-three a,
.travel-plan-two a,
.travel-plan-one a {
    font-size: 15px;
    font-weight: 700;
}

.Comprehensive-protection a {
    font-size: 18px;
    color: #008489;
    font-weight: 900;

}

.Comprehensive-protection {
    margin-bottom: 49px;
}


.Comprehensive-protection a:hover {
    text-decoration: underline;
}

.Comprehensive-protection-plus span {
    font-size: 23px;
    font-weight: 600;
}

.Comprehensive-protection-plus {
    margin-bottom: 11px;
}

.Comprehensive-protection-pi span {
    font-size: 16px;
}

.background-logo-plus {
    position: relative;
}

.background-logo img {
    border-radius: 4px;
    width: 1041px;
    margin-bottom: 45px;
}

.background-logo svg {
    position: absolute;
    top: 72px;
    left: 431px;

}

.background-logo-look {
    height: 46px;
    width: 952px;
    position: absolute;
    top: 0;
    left: 0;
}

.background-logo-look a {
    display: inline-block;
    position: absolute;
    line-height: 22px;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
    color: rgb(72, 72, 72);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 34px;
    padding-right: 34px;
    text-decoration: none;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
    background: rgb(255, 255, 255);
    top: 206px;
    left: 436px;
    letter-spacing: -1px;
}

.classic p {
    font-size: 24px;
    margin-bottom: 22px;
    font-weight: 600;
}

.classic-city {
    height: 330px;
}

.classic-city-bigbox-show-on {
    float: left;
    width: 160px;
    height: 300px;
}

.classic-city-bigbox-show-on p {
    float: left;
    font-weight: 600;
    margin-top: 5px;
}

.classic-city-bigbox-show-on:nth-child(-n+5) {
    margin-right: 16px;
}



.wonderful {

    height: 814px;
}

.wonderful-go {
    height: 690px;
    width: 1040px;
}

.wonderful-gogo {
    float: left;
}

.wonderful-story {
    height: 55px;
}

.wonderful-story p {
    font-size: 24px;
    font-weight: 600;
}

.wonderful-story-one {
    width: 246px;
    height: 344px;
    float: left;
}

/* .wonderful-story-two:nth-child(-n+3),
.wonderful-story-one:nth-child(-n+3) {
    margin-right: 16px;
} */
.wonderful-go .wonderful-story-one {
    margin-right: 18px;
}

.wonderful-go a:nth-child(4n) .wonderful-story-one {
    margin-right: 0;

}

.wonderful-story-two {
    float: left;
    width: 246px;
    height: 344px;
}



.wonderful-story-one-g {
    float: left;
    position: relative;
}

.wonderful-story-one-g img {
    width: 246px;
    height: 247px;
    border-radius: 6px;

}

.wonderful-story-one-o {
    position: absolute;
    top: 3px;
    left: 208px;
}

._8l0rv2k {
    overflow-wrap: break-word;

    font-size: 12px;
    font-weight: 800;
    line-height: 1.33333em;
    color: rgb(72, 72, 72);
    margin: 0px;
    padding: 15px 11px;
}

._1hkka7 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 212px;
    left: 187px;
    padding: 4px 0px;
    border-radius: 5px;
}

.wonderful-story-one-n img {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 12px;

}

.wonderful-story-one-n {
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
}

.wonderful-story-one-n p {
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 21%;
}


.wonderful-story-one-n span {
    position: absolute;
    top: -4px;
    left: 93px;

}

.wonderful-story-one-q {
    font-size: 12px;
    font-weight: bold;
}

.wonderful-story-one-w {
    font-size: 12px;
}

.wonderful-story-one svg {
    float: left;
    margin-top: 5px;
    margin-right: 28px;
}


.display-all {
    height: 20px;
}

.display-all a {
    font-size: 16px;
    color: #218489;
    font-weight: 600;
}

.experience {
    height: 575px;
}

.experience-one:nth-child(-n+7) {
    width: 134px;
    height: 326px;
    float: left;
    margin-left: 13px;
}



.experience-h {
    position: relative;
    height: 80px;
    width: 385px;
}

.experience-k {
    width: 30px;
    height: 30px;
    /* visibility: hidden; */
    /* display: none; */
    position: absolute;
    top: 25px;
    left: 368px;
}

.experience-k span {
    display: none;
}

.experience-k:hover span {
    /* display: block; */
    /* visibility: visible; */
    display: block;
}

.experience-one-b {
    font-weight: 800;
    font-size: 12px;
    color: #767676;
    margin-bottom: 5px;
}

.experience-one-c {
    font-size: 16px;
    font-weight: 600;
}

.experience-h a {
    font-size: 22px;
    font-weight: 600;
}

.experience-h p {
    font-size: 15px;
}

.experience-g {
    margin-bottom: 8px;
}


.experience-bigbox {
    height: 349px;
    width: 1034px;
}

.experience-one-a img {
    height: 180px;
    width: 134px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.experience-one-e {
    float: left;
}

.experience-one-d {
    margin: 5px 0;
}

.experience-one-e img {

    height: 9px;
    width: 9px;
}

.experience-one-f {
    float: left;
}

.experience-one-c {
    width: 132px;
}

.experience-one-e p {
    color: #228c8f;
}

.experience-one-e span {
    color: #b7b6b7;
}