.video {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;


}


.nav {
    width: 1920px;
    height: 666px;
    background-color: #ffffff;
    position: relative;
}

.nav-logo {
    height: 82px;
}

.nav-logo-tiyan {
    height: 144px;
}

span {

    font-family: 'Microsoft YaHei';
    font-size: 73px;
    color: #008489, ;
    background: linear-gradient(120deg, #FFB400 9%, #008489 30%, #A61D55 68%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nav-logo-jianbian {
    width: 1044px;
    height: 163px;
    font-weight: 600;

}

.nav-logo-tiyan a {
    text-decoration: none;
}

.nav-logo-tiyan p {
    font-weight: bolder;
    padding-top: 117px;
    color: #666666;
}

.nav-logo-kaishi {
    height: 50px;
    width: 98px;
    background-color: #010101;
    line-height: 50px;
    text-align: center;
    margin-top: 46px;
}

.nav-logo-kaishi a {
    color: #f2f2f2;
    text-decoration: none;
}

.nav-logo-kaishi p {
    font-weight: 900;
}


.jianbian {
    width: 100%;
    height: 40%;
    position: relative;
    ;
}

.jian-1{

}